{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>Статьи</h1>
    <div class="row">
        {% for article in articles %}
            <div class="col-4 blog-item">
                {% if article.image %}
                    <img class="img-thumbnail" src="{{ article.image_thumbnail.url }}" alt="">
                {% else %}
                    <img class="img-thumbnail" src="{% static 'no-image.png' %}" alt="">
                {% endif %}
                <h4>
                    <a href="{% url 'tag_search_article_list' tag_id=tag.id %}">#{{ tag.name }}</a>
                </h4>
                <p4>{{ article.text_preview }}</p4>
                <hr>
                <p class="text-end"
                {{ article.created_at }}
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
