{% extends 'base.html' %}
{% block meta_tags %}
    <title>Тег #{{ tag.name }} | Nota-store</title>
{% endblock %}
{% block breadcrumbs %}
    {% include '_breadcrumbs.html' %}
{% endblock %}
{% block content %}
    <h1>Статті, що мають тег #{{ tag.name }}</h1>
    {% for article in articles %}
        <h4>
            <a href="{% url 'article_view' article_id=article.id category_id=article.category.id %}">{{ article.title }}</a>
        </h4>
        <p>{{ article.text_preview }}</p>
        <hr>
    {% endfor %}
{% endblock %}