{% extends 'base.html' %}
{% load static %}
{% block meta_tags %}
    {% include '_meta_tags.html' with meta_title=article.get_meta_title meta_description=article.meta_description meta_keywords=article.meta_keywords %}
{% endblock %}

{% block breadcrumbs %}
    {% include '_breadcrumbs.html' %}
{% endblock %}

{% block content %}
    <h1>{{ article.title }}</h1>
    {% if article.image %}
        <img class="img-thumbnail" src="{{ article.image.url }}" alt="">
    {% endif %}
    <p>{{ article.text }}</p>
    <p>
        {% for tag in article.tags.all %}
            <a href="{% url 'tag_search_article_list' tag_id=tag.id %}">#{{ tag.name }}</a>
        {% endfor %}
    </p>
    <hr>
    <p>
        <b>Дата</b>: {{ article.created_at }} <br>
        <b>Категория</b>: {{ category.name }} <br>
        <b>Користувач</b>:  {% if user.image %}
        <img class="img-thumbnail" src="{{ user.image.url }}" alt="" width="75">
    {% else %}
        <img class="img-thumbnail" src="{% static 'no-user.png' %}" alt="" id="no-user" width="75">
    {% endif %}
        {% if user.first_name and user.last_name %}
            {{ article.user.first_name }} {{ user.last_name }}
        {% elif user.first_name %}
            {{ article.user.first_name }}
        {% elif user.last_name %}
            {{ article.user.last_name }}
        {% else %}
            Не зареєстрованний користувач
        {% endif %}
        <br>
    </p>
{% endblock %}